<% if (currentUser) { %>
    <% if (!currentUser.favorites.includes(info.full_name)) { %>
        <form action="/favorites" method="POST">
            <input type="hidden" id="politicianName" name="politicianName" value="<%= info.full_name %>">
            <button class="btn btn-outline-success round-button"><i class="far fa-bookmark"></i></button>
        </form>
    <% } else { %>
        <form action="/favorites/?_method=DELETE" method="POST">
            <input type="hidden" id="politicianName" name="politicianName" value="<%= info.full_name %>">
            <button class="btn btn-outline-success round-button"><i class="fas fa-bookmark"></i></button>
        </form>
    <% } %>
<% } %>