<!-- Bootstrap JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
	crossorigin="anonymous"></script>

<!-- Twitter Widget  -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Custom Map JS  -->
<script src="/scripts/usmap/usmap.js"></script>

<!-- Custom JS -->
<script src="/scripts/autocomp.js"></script>
<script src="/scripts/uptoTop.js"></script>
<script src="/scripts/colorSchemeToggle.js"></script>

</body>

</html>