* {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 96px;
	background-color: lightgrey;
}

/*.navbar {
	/*height: 96px;
}*/

.navbar-brand {
	font-size: 2.5rem;
}

.navbar-brand img {
	width: 3.5rem;
	height: auto;
	position: relative;
	top: -2px;
}

input[type="Search" i]::placeholder {
	color: #212529;
	color: rgba(33, 37, 41, 0.3);
}

.search-bar-edge {
	border-radius: 1.5rem;
}

.round-button {
	border-radius: 1.5rem;
}

#goUpBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 80px; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
  
/* The navigation menu links */
.sidenav a {
	display: block;
	padding: 20px 8px 20px 8px;
	text-decoration: none;
	font-size: 14px;
	color: white;
	display: block;
	/*margin: 5px 5px 5px 5px;*/
}

.sidenav ul {
	border-top: solid 1px #353535;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.sidenav li {
	border-bottom: solid 1px #353535;
	
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	background-color: rgb(68, 67, 67);
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}
.container {
	display: flex;
	justify-content: center;
}

/* unvisited link */
a.article-text:link {
    color:inherit;
	text-decoration:none;
}

/* visited link */
a.article-text:visited {
	color:rgb(95, 0, 95);
    text-decoration:none;
}

a.article-text:visited:hover {
	color:rgb(95, 0, 95);
    text-decoration:none;
}

/* mouse over link */
a.article-text:hover {
	color:inherit;
    text-decoration:underline;
}

/* selected link */
a.article-text:active {
	color:inherit;
    text-decoration:underline;
}
