* {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 4.5rem;
	background-color: lightgrey;
}

.navbar-brand {
	font-size: 2.5rem;
}

.navbar-brand img {
	width: 3rem;
	height: 3rem;
}

input[type="Search" i]::placeholder {
	color: #212529;
	color: rgba(33, 37, 41, 0.3);
}

.search-bar-edge {
	border-radius: 1.5rem;
}

.round-button {
	border-radius: 1.5rem;
}

.logo-image {
	position: relative;
	width: 40px;
	height: auto;
	top: -2px;
	left: 3px;
}

#goUpBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 18px;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.goUpIcon {
	color: green;
}


#goUpBtn i:hover {
	color: greenyellow;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 80px; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
  
/* The navigation menu links */
.sidenav a {
	padding: 20px 8px 20px 8px;
	text-decoration: none;
	font-size: 14px;
	color: white;
	display: block;
	/*margin: 5px 5px 5px 5px;*/
}

.sidenav ul {
	border-top: solid 1px #353535;
}

.sidenav li {
	border-bottom: solid 1px #353535;
}
  
/* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	background-color: rgb(68, 67, 67);
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }