* {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 4.5rem;
	min-height: 4000px;
}

input[type="Search" i]::placeholder {
	color: #212529;
	color: rgba(33, 37, 41, 0.3);
}

.search-bar-edge {
	border-radius: 1.5rem;
}

.round-button {
	border-radius: 1.5rem;
}


