<%- include("partials/header.ejs") %>

	<div class="container about-container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<h1 class="title-adapt-color">About PoliLime</h1>
			</div>
			<div class="col-2"></div>
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-2"></div>
			<div class="col-8">
				<p class="lead text-adapt-color" style="font-size: 1.5rem">
					PoliLime is a consolidated news site created so that users do not need to visit multiple websites to
					gather information about a politician. A core feature of PoliLime is that it focuses more on a
					politician&#39;s
					work, initiatives, voting history, public statements, rather than paid for adverts or flashy
					headlines. Since
					the vast majority of PoliLime&#39;s users are going to be voters who want unbiased news about a
					politician,
					we limit the amount of news that is received from social media and rely more on news from low bias
					news sources; however, we do include Tweets and other social media posts that politicians post since
					many people use a politician&#39;s social media platform to solidify their opinion on them.
				</p>
			</div>
			<div class="col-2"></div>
		</div>
		<div class="row" style="margin-bottom: 15px;">
			<h1 class="title-adapt-color" >Meet Our Team!</h1>
		</div>
		<div class="row">
			<div class="col-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card name-card">
					<img src="..." class="card-img-top" alt="Hoa Nguyen">
					<div class="card-body">
						<h5 class="card-title">Hoa Nguyen</h5>
						<h6 class="text-adapt-color">Project Manager</h6>
						<p class="card-text">Hoa is the manger and is the SCRUM master of this project. Hoa worked on every part of the project, from the front end to the back end and database, primarily through mob coding.</p>

					</div>
				</div>
			</div>
			<div class="col-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card name-card">
					<img src="..." class="card-img-top" alt="Nikolas Turman">
					<div class="card-body">
						<h5 class="card-title">Nikolas Turman</h5>
						<h6 class="text-adapt-color">Front End Developer</h6>
						<p class="card-text">Nikolas worked on the front end, especially the Politicians and Favorites page and the small features that enhances the user experience like the icons, button transitions, etc.</p>
					</div>
				</div>
			</div>
			<div class="col-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card name-card">
					<img src="..." class="card-img-top" alt="Sean Ferguson">
					<div class="card-body">
						<h5 class="card-title">Sean Ferguson</h5>
						<h6 class="text-adapt-color">Front End Developer</h6>
						<p class="card-text">Sean worked primarily on the front end of the project, creating the FAQ and Settings page. He was also responsible for part of the Politicians Search page in how it is structured.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2"></div>
			<div class="col-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card name-card">
					<img src="..." class="card-img-top" alt="Barane Yoga Natarajan">
					<div class="card-body">
						<h5 class="card-title">Barane Yoga Natarajan</h5>
						<h6 class="text-adapt-color">Front End Developer</h6>
						<p class="card-text">Yoga is another front end developer on our team who worked on the Contact Us page and the translation feature of our website. In addition, she was also responsible for the laout of our Politicians Search page.</p>
					</div>
				</div>
			</div>
			<div class="col-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card name-card">
					<img src="..." class="card-img-top" alt="Christopher Tran">
					<div class="card-body">
						<h5 class="card-title">Christopher Tran</h5>
						<h6 class="text-adapt-color">Back End Developer</h6>
						<p class="card-text">Chris worked on the back end is our primary back end developer. He was involved in every part of the back end, whether connecting to APIs or the database. Often, Chris would be mob coding as the driver with Hoa.</p>
					</div>
				</div>
			</div>
			<div class="col-2"></div>
		</div>
	</div>

	<%- include("partials/footer.ejs") %>