<%- include("partials/header.ejs") %>
	
	<div class="container about-container">
		<div>
			<h1 class="title-adapt-color">About PoliLime</h1>
			<div>
				<p class="lead text-adapt-color" style="font-size: 1.5rem">
					PoliLime is a consolidated news site created so that users do not need to visit multiple websites to
					gather information about a politician. A core feature of PoliLime is that it focuses more on a politician&#39;s
					work, initiatives, voting history, public statements, rather than paid for adverts or flashy headlines. Since
					the vast majority of PoliLime&#39;s users are going to be voters who want unbiased news about a politician,
					we limit the amount of news that is received from social media and rely more on news from low bias
					news sources; however, we do include Tweets and other social media posts that politicians post since
					many people use a politician&#39;s social media platform to solidify their opinion on them.
				</p>
			</div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>