<%- include("partials/header.ejs") %>

    <!--Section: Contact v.2-->
    <section style="margin:auto; width: 1000px;" class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4 title-adapt-color">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5 text-adapt-color"> Feel free to contact us regarding questions, queries or
            comments!.</p>

        <div class="row">

            <form style="width: 600px; margin:auto;">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <br>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Email ID">
                    </div>
                    <br>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Subject Box">
                    </div>
                    <br>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Message">
                    </div>
                </div>
            </form>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center text-adapt-color">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>College Station, TX, 77840,USA</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 456 876 999</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@polilime.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->

<%- include("partials/footer.ejs") %>