<%- include("partials/header.ejs") %>

    <h1 style="text-align:center;">Frequently Asked Questions</h1>
    <br><br>
    <div style=" margin:auto; width:900px;" class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    How do I search for a Politician?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    You can search for any Politician by typing their name in the search bar on the top right corner. As
                    you start
                    typing, the politician's name will appear in the drop-down menu.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Where do you get your news from?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    At PoliLime, we do our best to display credible news articles posted by reputed news agencies.
                    All of our news feed is populated by articles from the New York Times, Washington Post, Associated
                    Press, and
                    more.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How do I create an account?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Thank you for wanting to create an account! At the moment, we are working actively to implement a
                    Log-in and Sign-up feature.
                </div>
            </div>

        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    I an unable to use a feature. What should I do?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Please contact us so we can fix the issue. Sometimes, a browsers do not support certain features
                    or the browsers needs updating. In order to make the best out of PoliLime's features, we recommend
                    using Google Chrome<br><br>

                    If you use Google Chrome, follow this link to update your browser:<br>
                    <a href>https://support.google.com/chrome/answer/95414?co=GENIE.Platform%3DDesktop&hl=en</a>
                    <br>
                    For other browsers, please try updating it and refreshing PoliLime. <br>

                    If the issue still persists, contact us.
                </div>
            </div>

        </div>
    </div>

    <%- include("partials/footer.ejs") %>