<%- include("partials/header.ejs") %>

	<div class="container" style="text-align: center;">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<h3 class="title-adapt-color">
					Select a State:
				</h3>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div id="map" style="width: 930px; height: 630px;"></div>
			</div>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div id="alert">
					<h3 id='senatorTitle' class="title-adapt-color">Senators</h3>
					<ul id='politician-list'></ul>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>