<%- include("partials/header.ejs") %>

<!--
    <h1 class="animate__animated animate__bounce">
        <i class="fas fa-5x fa-cog"></i>
    </h1>
-->

<ul id="dynamic-list" class="card-list" style="text-align:left;">
    <li>
        <div style="padding-top: 10px; max-width: 850px;" class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="painting.jpg" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">John Doe, Rep-TX</h5>
                        <p class="card-text"> Antiochus XII Dionysus (died 82 BC) was a Seleucid ruler who reigned
                            as King of Syria during the Hellenistic period from 87 BC until his death. He was the
                            youngest
                            son of Antiochus VIII, who was assassinated in 96 BC. Antiochus XII's four brothers laid
                            claim to the throne. His brother Philip I defeated his brother Demetrius III in 87 BC
                            and remained
                            in the Syrian capital Antioch.within inner Syria. He focused his attention on Syria's
                            southern reaches into which the Judaeans and Nabataeans sought to expand, reinforced his
                            southern frontier, and fought two campaigns against Nabataea and Judea.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </li>

</ul>

<%- include("partials/footer.ejs") %>