<%- include("partials/header.ejs") %>

	<!--
    <h1 class="animate__animated animate__bounce">
        <i class="fas fa-5x fa-cog"></i>
    </h1>
    -->

	<div class="container" style="text-align: center;">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-10">
				<iframe src="https://createaclickablemap.com/map.php?&id=102005&maplocation=false&online=true"
					width="900" height="525" style="border: 2px solid black; border-radius: 10px;"></iframe>
			</div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>