<%- include("partials/header.ejs") %>

	<div class="container" style="text-align: center;">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-10">
				<div id="alert">Click alerts</div>

				<div id="map" style="width: 930px; height: 630px;"></div>
			</div>
		</div>
	</div>

<%- include("partials/footer.ejs") %>