<%- include("partials/header.ejs") %>

	<!--
    <h1 class="animate__animated animate__bounce">
        <i class="fas fa-5x fa-cog"></i>
    </h1>
    -->

    <div class="container">
        <div class="row">
            <div class="col-8">
                <ul id="dynamic-list" class="card-list hidden" style="text-align:left;">
                    <li>
                        <div class="card">
                            <img class="card-img-top" src="/img/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="card">
                            <img class="card-img-top" src="/img/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="card">
                            <img class="card-img-top" src="/img/logo.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <a class="twitter-timeline" href="https://twitter.com/POTUS">Tweets by POTUS</a>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>