<%- include("partials/header.ejs") %>
	
<div class="container" style="text-align: center;">
		<div class="row" style="margin-bottom: 50px;">
			<h1 class="title-adapt-color">
				Settings:
			</h1>
		</div>
		<div class="row">
			<div class="col-2"></div>
			<div class="col-7">
				<h3 class="title-adapt-color">
                    Dark Mode:
                </h3>
			</div>
            <div class="col-2">
                <div class="form-check form-switch">
                    <div class="form-check form-switch pull-right">
                        <input class="form-check-input" type="checkbox" onchange="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                        <!-- <label id="darkModeLabel" for="darkMode">Light</label> -->
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-2"></div>
			<div class="col-7">
				<h3 class="title-adapt-color">
                    <!-- Translate button 
					
					<a href="http://free-website-translation.com/" id="ftwtranslation_button" style= "padding-top:8px;text-decoration:none; color:black" hreflang="en">           
					<i class="fa fa-language" aria-hidden="true"></i> Translate </a>
					&nbsp;  &nbsp;  
					-->
					Change language: 
                </h3>
			</div>
			<div style="text-align:left;"class="col-2">            
				<button style="font-weight:bold; color:black" type="button" class="btn btn-outline-success" onClick= "translateTab()">Translate</button>
            </div>
			
		</div>			
	</div>
    
<%- include("partials/footer.ejs") %>