html {
	padding-top: 80px;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	padding-top: 80px;
	background-color: rgba(0,0,0,0.9);
}

.title-adapt-color {
    color: rgba(255,255,255,0.87);
}

.text-adapt-color {
    color: rgba(255,255,255,0.67)
}

/*.navbar {
	/*height: 96px;
}*/

.bg{
	background-color: #191919 !important;
}

.navbar-brand {
	font-size: 2.5rem;
}

.navbar-brand img {
	width: 3.5rem;
	height: auto;
	position: relative;
	top: -2px;
}

input[type="Search" i]::placeholder {
	color: #212529;
	color: rgba(33, 37, 41, 0.3);
}

.search-bar-edge {
	border-radius: 1.5rem;
}

.round-button {
	border-radius: 1.5rem;
	margin-left: 10px;
}

#goUpBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	display: none;
}

.container {
	width: 100% import !important;
}

.row {
	width: 100%;
}

/* The sidebar menu */

.sidenav {
	height: 100%;
	/* Full-height: remove this if you want "auto" height */
	width: 160px;
	/* Set the width of the sidebar */
	position: fixed;
	/* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;
	/* Stay on top */
	top: 80px;
	/* Stay at the top */
	left: 0;
	background-color: #191919;
	/* Same Color as Navigation Bar */
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/* The navigation menu links */

.sidenav a {
	display: block;
	padding: 20px 8px 20px 8px;
	text-decoration: none;
	font-size: 14px;
	color: white;
	display: block;
	/*margin: 5px 5px 5px 5px;*/
}

.sidenav ul {
	border-top: solid 1px #353535;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.sidenav li {
	border-bottom: solid 1px #353535;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
	background-color: rgb(68, 67, 67);
}

@media screen and (max-width: 1400px) {
	.sidenav {
		width:140px;
	}
	.sidenav a {
		font-size: 13px;
	}
}

@media screen and (max-width: 1200px) {
	.sidenav {
		width:120px;
	}
}

@media screen and (max-width: 750px) {
	.sidenav {
		/*padding-top: 153px;*/
		height:5em;
		width:100%;
	}
	.sidenav li {
		display: inline-block;
		border-bottom: 0;
	}
	.sidenav a {
		font-size: 12px;
	}
}

@media screen and (max-width: 531px) { /*Navbar messes up here without this*/
	.navbar-brand {
		font-size: 2rem;
	}
	.navbar-brand img {
		width: 3.5rem;
		height: auto;
		position: relative;
		top: -2px;
	}
}

.search-result {
    color: rgba(255,255,255,0.87);
}

.info-card{
	border: none;
}

.card {
	margin: 0 auto;
	/* Added */
	float: none;
	/* Added */
	padding: auto;
	background-color: #292f33;
	margin-bottom: 25px;
}

.card h5 {
    color: rgba(255,255,255,0.87);
}

.card p{
    color: rgba(255,255,255,0.677);
}

/* unvisited link */

a.article-text:link {
	color: inherit;
	text-decoration: none;
}

/* visited link */

a.article-text:visited h5 {
	color: #82478C;
	text-decoration: none;
}

a.article-text:visited p {
	color: rgba(255,255,255,0.677);
	text-decoration: none;
}

a.article-text:visited:hover h5 {
	color: #82478C;
	text-decoration: none;
}

/* mouse over link */

a.article-text:hover h5 {
	color: rgba(255,255,255,0.95);
	text-decoration: underline;
}

/* selected link */

a.article-text:active h5 {
	color: inherit;
	text-decoration: underline;
}

.autocomplete {
	position: relative;
	display: inline-block;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.hidden {
	list-style-type: none;
}

.about-container {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.voting-container {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.favorites-container {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.alert {
	text-align: center;
}

#senate-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
}

.house-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
}

#senateTitle {
	opacity: 0.0;
}

#houseTitle {
	opacity: 0.0;
}

.btn-politian {
	margin: 0 0 10px 0;
}

.nameLink {
	font-weight: bold;
}

.nameLink:link {
	text-decoration: none;
	color: inherit;
}

.nameLink:visited {
	text-decoration: none;
	color: inherit;
}

.nameLink:hover {
	text-decoration: none;
	color: rgba(255,255,255, 0.87);
}

.nameLink:active {
	text-decoration: none;
	color: rgba(255,255,255, 0.8);
}

.card img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 0.25rem;
}

#dynamic-list {
	padding-left: 0;
}

.col-7 h3 {
	text-align: left;
}

.form-check-input {
	width: 50px !important;
}

.accordion-button:not(.collapsed) {
	color:#198754 !important;
	outline: #198754 solid 2px !important;
	background-color:#e1f5eb ;
	box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
	box-shadow: none;
}

#favorites-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: left;
}

.delete-btn {
	color: red;
	border-color: red;
	opacity: .8;
}

.delete-btn:hover {
	color: #fff;
	background-color: red;
	border-color: red;
	opacity: .8;
}

.delete-btn:focus, .delete-btn:focus {
	box-shadow: 0 0 0 0.2rem rgb(187, 0, 0, 0.5);
}

.favorited {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.favorited:hover {
	color: #198754;
	background-color: transparent;
	border-color: #198754;
}

.favorited:focus, .favorited:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.name-card {
	padding: 15px;
	margin: 20px 30px;
	display: flex;
}

#politician-list {
	padding-top: 40px;
	margin: 0;
}

.house-list {
	display: flex;
	flex-direction: column;
	max-height: 4000px;
}

.senate-list {
	display: flex;
	flex-direction: column;
	max-height: 1500px;
}

@media (max-width: 1400px) {
	.house-list {
		max-height: 5000px;
	}

	.senate-list {
		max-height: 2000px;
	}
}

@media (max-width: 1000px) {
	.house-list {
		max-height: 8000px;
	}

	.senate-list {
		max-height: 4000px;
	}
}

@media (max-width: 600px) {
	.house-list {
		max-height: none;
	}

	.senate-list {
		max-height: none;
	}
}

.small-container {
	max-width: 300px;
	padding-bottom: 20px;
}

.selected {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.selected:hover {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.not-selected {
	color: #198754;
	background-color: transparent;
	border-color: #198754;
}

.not-selected:hover {
	color: #fff;
	background-color: #198754;
}

.selected:focus, .selected:focus {
	box-shadow: none;
}

.not-selected:focus, .not-selected:focus {
	box-shadow: none;
}

.spacer {
	padding-left: 20px;
	padding-right: 20px;
}

.no-underline {
	text-decoration: none;
}
