html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	padding-top: 80px;
	background-color: lightgrey;
	
}

/*.navbar {
	/*height: 96px;
}*/

.navbar-brand {
	font-size: 2.5rem;
}

.navbar-brand img {
	width: 3.5rem;
	height: auto;
	position: relative;
	top: -2px;
}

input[type="Search" i]::placeholder {
	color: #212529;
	color: rgba(33, 37, 41, 0.3);
}

.search-bar-edge {
	border-radius: 1.5rem;
}

.round-button {
	border-radius: 1.5rem;
	margin-left: 10px;
}

#goUpBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	display: none;
}

.container {
	width: 100% import !important;
}

.row {
	width: 100%;
}

/* The sidebar menu */

.sidenav {
	height: 100%;
	/* Full-height: remove this if you want "auto" height */
	width: 160px;
	/* Set the width of the sidebar */
	position: fixed;
	/* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;
	/* Stay on top */
	top: 80px;
	/* Stay at the top */
	left: 0;
	background-color: #212529;
	/* Same Color as Navigation Bar */
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/* The navigation menu links */

.sidenav a {
	display: block;
	padding: 20px 8px 20px 8px;
	text-decoration: none;
	font-size: 14px;
	color: white;
	display: block;
	/*margin: 5px 5px 5px 5px;*/
}

.sidenav ul {
	border-top: solid 1px #353535;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.sidenav li {
	border-bottom: solid 1px #353535;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover{
	background-color: rgb(68, 67, 67);
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.card {
	margin: 0 auto;
	/* Added */
	float: none;
	/* Added */
	margin-bottom: 10px;
	/* Added */
	padding: auto;
	background-color: #fff;
}

/* unvisited link */

a.article-text:link {
	color: inherit;
	text-decoration: none;
}

/* visited link */

a.article-text:visited h5{
	color: #82478C;
	text-decoration: none;
}

a.article-text:visited p{
	color: black;
	text-decoration: none;
}

a.article-text:visited:hover h5{
	color: #82478C;
	text-decoration: none;
}

/* mouse over link */

a.article-text:hover h5{
	color: inherit;
	text-decoration: underline;
}

/* selected link */

a.article-text:active h5{
	color: inherit;
	text-decoration: underline;
}

.autocomplete {
	position: relative;
	display: inline-block;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.hidden {
	list-style-type: none;
}