body {
	background-color: rgb(208,227,221);
}

h1 {
	color: rgb(49,49,49);
	margin-top: 40px;
	text-align: center;
	font-size: 45px;
}

.input-group {
	margin: 50px 0px;
}

/* used only for the input with id="cadidate" that is inside an input-group class */
.input-group input#candidate {
	height: 45px;
	margin-right: 10px;
	border-radius: 0.5rem;
}

.btn-add {
	background-color: rgb(12,187,50);
	color: white;
	padding: 10px 63px;
}

.btn-remove {
	background-color: rgb(187,12,12);
	color: white;
	padding: 10px 50px;
}

ul {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}

li {
	position: relative;
	display: block;
	padding: 10px 20px;

	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid rgb(163,163,163);
	border-radius: 0.25rem;

}