<%- include("../partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="title-adapt-color">Register</h1>
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label text-adapt-color">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label text-adapt-color">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-adapt-color">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button class="btn btn-success">Register</button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

<%- include("../partials/footer.ejs") %>